.btn {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .05em;
    border: 1px solid;
    color: white;
    padding: 1.25rem 2.5rem;
    display: inline-block;
    width: fit-content;
    border-radius: 2px;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.add {
        margin-left: 2rem;
    }
    &.centered {
        margin: 0 auto;
        display: block;
    }
    &:hover, &:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    &.white {
        background-color: white;
        border-color: white !important;
        font-weight: 700;
        &:hover {

        }
        &.bordered {
            
        }
    }
    &:disabled {

        &:hover {
            cursor: default;
        }
    }
}
// Need option-btns class
// btn-select class
