.toggle-wrapper {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5em;

    .square {
    width: 2em;
    height: 2em;
    border: 3px solid black;
    float: left;
    display: flex;
    position: relative;
    &.checked {
        &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: .15em;
        left: .05em;
        width: 3em;
        height: 3em;
        background-image: url(../check-solid.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        }
    }
    }

    label {
        margin-left: .5em;
    }
    }
