.selections {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5em;
    .item {
    margin: 2px;
    padding: 2px 8px 2px 8px;
    float: left;
    display: flex;
    background-color: rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    border-radius: 3px;
    position: relative;
    align-items: space-between;
    span{
        margin-left: .5em;
    }
    }
}